
.footer-basic {
    margin-top: 50px;
    background-color:#000;
    height: 90px;
  }
  
  .footer-basic .social {
  text-align:center;
  padding-bottom: 5px;
  }
  
  .footer-basic .social > a {
  font-size:30px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  display:inline-block;
  border-radius:50%;
  margin: 10px;
  color:inherit;
  opacity:0.95;
  color: white;
  border: 2px solid white;
  }
  #linkedin{
    background: #1976D2 ;
  }
  #github{
    background: #000000 ;
    
  }
  .footer-basic .social > a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .copyright {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  display:inline-block;
  color:rgb(255, 255, 255);
  }