@media screen and (max-width: 500px){
    h1{
      margin-top: 50px;
      width: auto;
    }

    #imagen, .footer-basic, .contenedor-btn {
      margin-left: auto;
      margin-right: auto;
    }

    #imagen{
      width: 400px;
      height: 350px;
    }

    .tablero{
      border-radius: 10px;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      font-size: 55px;
      background-color: #2ef8a0 ;
      width: 350px;
      height: auto;
    }

    canvas{
      width: 300px;
      height: 420px;
    }
    
    .visor-letras{
      width: 400px;
    }
    
    a .output{
      border: 3px solid rgb(117, 55, 10);
      width: 400px;
    }
  
    .btn-iniciar{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  
    .btn-agregar{
      width: 100%;
      margin-left: auto;
    }
    .btn-reiniciar{
      margin-left: 0;
      width: 100%;
    }
    .text-input{
      margin-left: auto;
      margin-bottom: 20px;
      width: 100%;
    }
    .contenedor-btn{
      width: 250px;
      display: block;
    }
  }


  @media screen and (min-width: 500px) and (max-width: 1350px){
    #imagen{
      width: 550px;
      height: 350px;
    }
  }